:root {
  --color-grey: #D6D7DA;
  --color-grey-light: #F5F5F7;
  --color-grey-light-blue: #E0E9F4;
  --color-white: #fff;
  --color-dark: #292D32;
  --color-graphite: #596780;
  --color-graphite-blue: #4F7A94;
  --color-black: #000;
  --color-yellow: #FDB415;
  --color-yellow-light: #FFF8E8;
  --color-black--primary: #222;
  --color-black--secondary: #111;

  --color-icon: var(--color-dark);
  --color-icon-light: var(--color-white);

  --font-size--default: 16px;
  --font-size--h1: 72px;
  --font-size--h2: 40px;
  --font-size--h3: 36px;
  --font-size--h4: 32px;
  --font-size--h5: 24px;
  --font-size--lg: 20px;
}

$xs = 0;
$sm = 576px;
$md = 768px;
$lg = 991px;
$xl = 1200px;
$xxl = 1400px;
