.nav-tabs {
  padding-top: 24px
  margin-bottom: 40px
  border-bottom 1px solid var(--color-grey-light-blue)

  .nav-link {
    padding: 10px 20px
    background-color: unset
    border unset
    color: unset
    font-size: 20px;
    font-weight: 600;
    line-height: 27.5px;
    letter-spacing: -0.33px;
    transition all ease 0.4s

    &.active {
      font-size: 24px;
      font-weight: 700;
      line-height: 27.5px;
      letter-spacing: -0.33px;
      background-color: unset
      border-bottom 1px solid var(--color-black)
    }
  }
}
